.list{
    background-color: #f2f2f2;
    height: 400px;
    margin: auto 0;
}

.add-course-container {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.home-link-container {
  margin: auto 0;
  font-size: 125%;
  font-style: bold; 
}

.home-link{
color: rgba(228, 217, 111, 1);
}

.add-course{
    color: rgb(228, 212, 71);
}

h3{
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 12px;
    font-size: 26px;
}