.styledimg {
    background-image: url(/Images/class-computer.jpg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 200px;
}

.course-info{
    background-color: rgba(242,242,242, .8);
}

.description{
    color: black;
}

.description-header{
    color: rgb(220, 201, 34);
}

.taught-by{
    color: rgb(220, 201, 34);
}

