@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: justify;
    color: rgba(228, 217, 111, 1);

}

h2 {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #FFF;
    letter-spacing: 1px; 
}

body {
    background-color:rgba(86, 6, 139, .75);
}

/* rgba(104, 37, 171, 0.694); */


.image-container{
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 300px;
}


.summary-container {
    display: flex;
    justify-content: center;
}

span {
        font: 1.4em 'Schoolbell', cursive;
        letter-spacing: 1px; 
        margin-bottom: 0; 
        color: #FFF;
}   

.paragraph-container {
    display: flex;
    justify-content: center;

}

