@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');
.app-header {
    display: flex;
    justify-content: flex-start;
    background-color:rgba(86, 6, 139, .75);
    border: 3px solid rgb(106, 101, 101);

}

img {
    padding: 10px;
}

.title {
    font-size: 28px;
    font-family: 'Schoolbell', cursive;
    color: #FFF;
    letter-spacing: 1px; 
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 5px;
}